.App-body {
    padding: 30px;
}

.App {
    background: url("./assets/bg_image.png");
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f9f295;
    font-size: large;
    font-weight: bold;
}

.App-logo {
    align-self: center;
}

.App-navigation-links {
    align-self: center;

}

.App-link {
    align-self: center;

}
